<%= render 'left', book: @book, user: @user %>

<h1>Book detail</h1>
<div>
  <p>ユーザー画像：<%= image_tag @user.get_profile_image(100,100) %></p>
  <p>Title：<%= @book.title %></p>
  <p>Opinion：<%= @book.body %></p>
  <p>ユーザー名：<%= @book.user.name %></p>
  <p>投稿日：<%= @book.created_at.strftime('%Y/%m/%d') %></p>
  <% if @book.user == current_user %>
    <%= link_to "削除", book_path(@book), method: :delete %>
  <% end %>
</div>